
body {
    background-color: #e5e5f7;
    overflow: hidden;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #333cdb, #444cf7 50%, #d5d5f8 50%);
    background-size: 50px 50px;
    margin: 0px;
}

a {
    filter: drop-shadow(0 0 0.75rem rgb(231, 226, 146));
    text-decoration: none;
    color: rgba(0, 0, 0, 0.781);
    font-size: 1.5rem;
    font-weight: bold;

}

#github-logo {
    height: 1.5rem;
    width: auto;
}

.impressum {
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgba(139, 139, 139, 0.555);
    width: 100vw;
    padding: 3px;
    margin: 0px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0px;
    
   
}

.application {
    height: 90vh;
    width: 90vw;
    border: 2px #444cf7 dotted;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 9fr;
    justify-content: center;
    background: #e5e5f7;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.interface {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
    border: 2px #444cf7 dotted;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    gap: 10px;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;   
     
}

.slidecontainer > button {
    
    border: none;
    background: rgba(106, 106, 156, 0.829);
    width: 10rem;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: 5px;
    margin: 2px;
}

.display {
    width: 80vw;
     
     
}

#myCanvas {
    border: 1px #444cf7 dotted;
    width: auto;
    height: auto;
    max-width: auto;
    max-height: 65vh;
}

#text {
    height: 2rem;
    width: 20rem;
    font-size: 1.5rem;
}

.display-area {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
