
body {
    background-color: #e5e5f7;
    
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #444cf7, #444cf7 50%, #e5e5f7 50%);
    background-size: 50px 50px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.application {
    height: 90vh;
    width: 90vw;
    border: 1px red solid;
    display: grid;
    grid-template-rows: 1fr 9fr;
    justify-content: center;
    background: #e5e5f7;
    
}

.interface {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
    border: 1px red solid;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    gap: 5px;
}

.interface > button {
    
    border: none;
    background: rgba(106, 106, 156, 0.829);
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 5px;
}

.display {
    border: 1px red solid;
    width: 79vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myCanvas {
    border: 1px red solid;
    max-width: 65vw
}

#text {
    height: 2rem;
    width: 20rem;
    font-size: 1.5rem;
}